$bg-dark: #121213;
$btn-normal-dark: #818384;
$btn-absent-dark: #3a3a3c;
$btn-present-dark: #b59f3b;
$btn-correct-dark: #538d4e;

$background: $bg-dark;
$btn-dark: $btn-normal-dark;
$btn-absent: $btn-absent-dark;
$btn-present: $btn-present-dark;
$btn-correct: $btn-correct-dark;

:root[data-theme='light'] {
  --text-color: black;
  --body-background: #ffffff;
  --tile-active: black;
  --key-bg: #d3d6da;
  --tile-empty: #d3d6da;
  --tile-active-border: #878a8c;
}

:root[data-theme='dark'] {
  --text-color: white;
  --body-background: #121213;
  --tile-active: white;
  --key-bg: #818384;
  --tile-empty: #3a3a3c;
  --tile-active-border: #565758;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  background: var(--body-background);

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &.hidden {
      display: none;
    }

    .modal-content {
      color: var(--text-color);
      box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 20%);
      background-color: #121213;
      padding: 1em;
      border: 1px solid #1a1a1b;
      width: 40%;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 0.5em;

        .close {
          cursor: pointer;
        }
      }

      .content {
        .statistics {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: var(--text-color);
          text-align: center;

          div {
            padding: 0.45em;
          }
        }

        .example {
          margin: 1em 0;

          .hint {
            margin-top: 0.5em;
          }
          .tiles {
            padding: 1em;
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: repeat(5, minmax(20%, 70px));
            gap: 0.25em;
            margin-bottom: 1em;

            .tile {
              height: 2em;
              font-size: 1.5em;
              color: var(--text-color);
              font-weight: bold;
              border: 0.05em solid #3a3a3c;
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: capitalize;

              &.absent {
                border: none;
                background: $btn-absent;
              }

              &.present {
                border: none;
                background: $btn-present;
              }

              &.correct {
                border: none;
                background: $btn-correct;
              }
            }
          }
        }
      }
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);

  .alert-container {
    position: fixed;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .alert {
      pointer-events: none;
      padding: 0.75em 1em;
      background-color: hsl(204, 7%, 85%);
      font-weight: bold;
      border-radius: 0.25em;
      opacity: 1;
      transition: opacity 500ms ease-in-out;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }

      &.hide {
        opacity: 0;
      }
    }
  }

  .nav {
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);

    .title {
      font-weight: bold;
      font-size: 1.5em;
    }

    .left-menu {
      display: flex;
      align-items: center;
      min-width: 200px;

      .help {
        border: 1px solid var(--text-color);
        border-radius: 50%;
        padding: 0.25em 0.5em;
        cursor: pointer;
        font-weight: bold;
      }

      .new {
        display: block;
        margin-left: 1em;

        button {
          background-color: $btn-correct;
          padding: 0.5em;
          border: none;
          color: var(--text-color);
          border-radius: 0.15em;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }

        &.hidden {
          display: none;
        }
      }
    }

    .options {
      color: var(--text-color);
      fill: var(--text-color);
      display: flex;
      align-items: center;
      min-width: 200px;

      .stat {
        margin-right: 1em;
        cursor: pointer;
      }

      .toggle {
        margin-left: 1em;
        display: flex;
        align-items: center;

        div {
          margin-left: 1em;
          font-size: 1em;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 2.5em;
          height: 1.5em;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #565758;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 1.1em;
          width: 1.1em;
          left: 0.225em;
          bottom: 0.215em;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #538d4e;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #538d4e;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(1em);
          -ms-transform: translateX(1em);
          transform: translateX(1em);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 2em;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }

  .grid {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: 0.25em;
    margin-bottom: 1em;

    .shake {
      animation: shake 250ms ease-in-out;
    }

    @keyframes shake {
      10% {
        transform: translateX(-5%);
      }
      30% {
        transform: translateX(5%);
      }
      50% {
        transform: translateX(-10%);
      }
      70% {
        transform: translateX(10%);
      }
      90% {
        transform: translateX(-5%);
      }
      100% {
        transform: translateX(0);
      }
    }

    .dance {
      animation: dance 500ms ease-in-out;
    }

    @keyframes dance {
      20% {
        transform: translateY(-5%);
      }
      40% {
        transform: translateY(5%);
      }
      60% {
        transform: translateY(-10%);
      }
      80% {
        transform: translateY(10%);
      }
      90% {
        transform: translateY(-5%);
      }
      100% {
        transform: translateY(0);
      }
    }

    .tile {
      font-size: 2em;
      color: white;
      font-weight: bold;
      border: 0.15em solid var(--tile-empty);
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      transition: transform 250ms linear;

      &[data-state='active'] {
        border-color: var(--tile-active-border);
        color: var(--tile-active);
      }

      &[data-state='absent'] {
        border: none;
        background: $btn-absent;
      }

      &[data-state='present'] {
        border: none;
        background: $btn-present;
      }

      &[data-state='correct'] {
        border: none;
        background: $btn-correct;
      }
    }

    .flip {
      transform: rotateX(90deg);
    }
  }

  .keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: 0.25em;
    justify-content: center;
    padding-bottom: 1em;

    .key {
      font-size: inherit;
      grid-column: span 2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      fill: var(--text-color);
      background: var(--key-bg);
      border: 0;
      border-radius: 0.25em;
      cursor: pointer;

      &[data-state='absent'] {
        background: $btn-absent;
        color: white;
      }

      &[data-state='present'] {
        background: $btn-present;
        color: white;
      }

      &[data-state='correct'] {
        background: $btn-correct;
        color: white;
      }

      &:hover {
        opacity: 0.5;
      }

      &.large {
        grid-column: span 3;
      }
    }
  }
}
