:root[data-theme='light'] {
  --text-color: black;
  --body-background: #ffffff;
  --tile-active: black;
  --key-bg: #d3d6da;
  --tile-empty: #d3d6da;
  --tile-active-border: #878a8c;
}

:root[data-theme='dark'] {
  --text-color: white;
  --body-background: #121213;
  --tile-active: white;
  --key-bg: #818384;
  --tile-empty: #3a3a3c;
  --tile-active-border: #565758;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  background: var(--body-background);
}

body .modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body .modal.hidden {
  display: none;
}

body .modal .modal-content {
  color: var(--text-color);
  -webkit-box-shadow: 0 4px 23px 0 black;
          box-shadow: 0 4px 23px 0 black;
  background-color: #121213;
  padding: 1em;
  border: 1px solid #1a1a1b;
  width: 40%;
}

body .modal .modal-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

body .modal .modal-content .header .close {
  cursor: pointer;
}

body .modal .modal-content .content .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  text-align: center;
}

body .modal .modal-content .content .statistics div {
  padding: 0.45em;
}

body .modal .modal-content .content .example {
  margin: 1em 0;
}

body .modal .modal-content .content .example .hint {
  margin-top: 0.5em;
}

body .modal .modal-content .content .example .tiles {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (minmax(20%, 70px))[5];
      grid-template-columns: repeat(5, minmax(20%, 70px));
  gap: 0.25em;
  margin-bottom: 1em;
}

body .modal .modal-content .content .example .tiles .tile {
  height: 2em;
  font-size: 1.5em;
  color: var(--text-color);
  font-weight: bold;
  border: 0.05em solid #3a3a3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

body .modal .modal-content .content .example .tiles .tile.absent {
  border: none;
  background: #3a3a3c;
}

body .modal .modal-content .content .example .tiles .tile.present {
  border: none;
  background: #b59f3b;
}

body .modal .modal-content .content .example .tiles .tile.correct {
  border: none;
  background: #538d4e;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

.container .alert-container {
  position: fixed;
  top: 5vh;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .alert-container .alert {
  pointer-events: none;
  padding: 0.75em 1em;
  background-color: #d6d9db;
  font-weight: bold;
  border-radius: 0.25em;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.container .alert-container .alert:last-child {
  margin-bottom: 0;
}

.container .alert-container .alert.hide {
  opacity: 0;
}

.container .nav {
  padding: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-color);
}

.container .nav .title {
  font-weight: bold;
  font-size: 1.5em;
}

.container .nav .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
}

.container .nav .left-menu .help {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.container .nav .left-menu .new {
  display: block;
  margin-left: 1em;
}

.container .nav .left-menu .new button {
  background-color: #538d4e;
  padding: 0.5em;
  border: none;
  color: var(--text-color);
  border-radius: 0.15em;
  cursor: pointer;
}

.container .nav .left-menu .new button:hover {
  opacity: 0.5;
}

.container .nav .left-menu .new.hidden {
  display: none;
}

.container .nav .options {
  color: var(--text-color);
  fill: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
}

.container .nav .options .stat {
  margin-right: 1em;
  cursor: pointer;
}

.container .nav .options .toggle {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.container .nav .options .toggle div {
  margin-left: 1em;
  font-size: 1em;
}

.container .nav .options .toggle .switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

.container .nav .options .toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container .nav .options .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565758;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .nav .options .toggle .slider:before {
  position: absolute;
  content: '';
  height: 1.1em;
  width: 1.1em;
  left: 0.225em;
  bottom: 0.215em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .nav .options .toggle input:checked + .slider {
  background-color: #538d4e;
}

.container .nav .options .toggle input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #538d4e;
          box-shadow: 0 0 1px #538d4e;
}

.container .nav .options .toggle input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  transform: translateX(1em);
}

.container .nav .options .toggle .slider.round {
  border-radius: 2em;
}

.container .nav .options .toggle .slider.round:before {
  border-radius: 50%;
}

.container .grid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (4em)[5];
      grid-template-columns: repeat(5, 4em);
  -ms-grid-rows: (4em)[6];
      grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}

.container .grid .shake {
  -webkit-animation: shake 250ms ease-in-out;
          animation: shake 250ms ease-in-out;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  30% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  70% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  30% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  70% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  90% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container .grid .dance {
  -webkit-animation: dance 500ms ease-in-out;
          animation: dance 500ms ease-in-out;
}

@-webkit-keyframes dance {
  20% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  60% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  90% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dance {
  20% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  60% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  90% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.container .grid .tile {
  font-size: 2em;
  color: white;
  font-weight: bold;
  border: 0.15em solid var(--tile-empty);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.container .grid .tile[data-state='active'] {
  border-color: var(--tile-active-border);
  color: var(--tile-active);
}

.container .grid .tile[data-state='absent'] {
  border: none;
  background: #3a3a3c;
}

.container .grid .tile[data-state='present'] {
  border: none;
  background: #b59f3b;
}

.container .grid .tile[data-state='correct'] {
  border: none;
  background: #538d4e;
}

.container .grid .flip {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.container .keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1.25em))[20];
      grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
}

.container .keyboard .key {
  font-size: inherit;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  fill: var(--text-color);
  background: var(--key-bg);
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.container .keyboard .key[data-state='absent'] {
  background: #3a3a3c;
  color: white;
}

.container .keyboard .key[data-state='present'] {
  background: #b59f3b;
  color: white;
}

.container .keyboard .key[data-state='correct'] {
  background: #538d4e;
  color: white;
}

.container .keyboard .key:hover {
  opacity: 0.5;
}

.container .keyboard .key.large {
  grid-column: span 3;
}
/*# sourceMappingURL=style.css.map */